.chat-input  textarea{
	display: flex;
    width: 90%;
    height: 70%;
    border-radius: 4px;
    font-size: 8px;
    resize: none;
}

.chat-input {
	display:flex;
	background-color: rgba(79, 81, 93, 1);
	justify-content: space-between;
	align-items: center;
	height: 35px;
	border: 1px;
	border-color: black;
}

.message-wrapper{
    display: flex;
    flex-direction: column;
    max-width: 80%;

}

.chat-messages{
    text-align: left;
    font-size: small;
    width: 100%;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
	flex: 1;
}

.chat-message{
    word-wrap: break-word;
    margin: 3px;
    font-size: 10px;
    min-width: 10%;
    padding: 5px;
}

.left{
    left: 0;
    align-self:flex-end;

}

.right{
    right: 0;
    align-self:flex-start;

}

.user1{
    background-color: rgb(145, 137, 63);
    border-radius: 20px 20px 8px 20px;
    max-width: 80%;
    width: fit-content;
    align-self: flex-end;

}

.user2{
    background-color: rgb(108, 135, 66);
    border-radius: 20px 20px 20px 8px;
    max-width: 80%;
    width: fit-content;
    align-self: flex-start;

}

.send-button {
	display: flex;
	height:90%;
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #1a1a1a;
    cursor: pointer;
    transition: border-color 0.25s;
	justify-content: center;
	align-items: center;
}

.message-infos{
    display: flex;
    flex-direction: row;
    justify-content:flex-start;
    margin-bottom: 10px;
}

.sender-profile-pic{
    border-radius: 50%;
    overflow: hidden;
    height: 15px;
    width:15px;
}

.message-username{
    font-size: smaller;
    margin-left: 5px;
}

.popup-user-list-item{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin:5px;
    overflow: hidden;
}


.link-to-user{
    cursor: pointer;
    border-radius: 15%;
    padding-right: 10px;
    .div{
        margin: 5px;
    }

    &:hover{
        background-color: grey;
    }
}

.popup-profile-pic{
    border-radius: 50%;
    overflow: hidden;
    height: 45px;
    width: 45px;
    margin:10px;
}

.management-button{
    cursor: pointer;
    border-radius: 15%;
    padding: 10px;
    &:hover{
        background-color: grey;
    }
}