.chat-boxes-wrapper {
	display: flex;
	flex-direction: row-reverse;
	align-items: flex-end;
	position: absolute;
	right: 21vw ;
	bottom: 0;
	gap: 10px;
}

.inner-chat-boxes-wrapper {
	display: flex;
	flex-direction: column;
	height: 100%;

}

.chat-box {
	background-color: rgba(96, 98, 112, 1);
	border: 1px solid #ccc;
	border-radius: 5px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 1);
	width: 250px;
	transition: width 0.3s ease-in-out;
	height: 250px;

	&.minimized {
		height: 45px;
		min-width: 50px;
		overflow: hidden;
	}

	&.expanded {
		width: 250px;
	}

	.chat-name-wrapper {
		display: flex;
		background-color: #4d4848;
		padding: 5px;
		font-weight: bold;
		padding-right: 10px;
		justify-content: "space-between";
	}

	.chat-name-wrapper-right {
		display: flex;
		align-items: center;
	}

	.chat-name {
		display:flex;
		margin-left: 10px;
		margin-top:4px;
		width: 70%;
	}

	.minimized-box-button {
		display:flex;
		background-color: inherit;
		border: none;
		cursor: pointer;
		padding: 5px;
		margin-left:45%;
	}
	.box-close-button {
		display:flex;
		width: 20px;
		height: 20px;
		margin-top:4px;
	}
}
