$chat-menu-width: 15vw;
$chat-menu-bg-color: #242526;
$chat-exit-button-height: 5%;
$chat-exit-button-radius: 20px;
$chat-menu-icon-right: 15vw;
$chat-menu-animation-range: 15.2vw ;
$chat-menu-icon-open: 15vw;

.chat-menu-wrapper {
  width: $chat-menu-width;
  background-color: $chat-menu-bg-color;
  position: fixed;
  right:0;
  bottom: 0;
  height: 90%;  
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 111;
  border-top-left-radius: 15px;
  border-left: solid 1px black;
  border-top: solid 1px black;
}

.search-chat-input {
	display: flex;
	justify-content: space-evenly;
}

.inner-chat-menu-wrapper {
	padding-top: 20px;
	display: flex;
	flex-direction: column;
	text-align: center;
	justify-content: space-evenly;
	width: auto;
	right: 0;
  overflow: hidden;
  width:100%;
}

.channel-type-wrapper {
	display: flex;
	justify-content: space-around;
  align-items: center;
}

.chat-menu-header {
	display: flex;
	justify-content: space-evenly;
  width: 100%;
  border-bottom: 1px solid #2F3031;
}

.chat-exit-button {
  height: $chat-exit-button-height;
  width: auto;
  border-radius: $chat-exit-button-radius;
  position: absolute;
  cursor: pointer;
  right: 10px;
  z-index: 10;
}

.chat-menu-icon {
  position: absolute;
  cursor: pointer;
  margin-right: 10px;
  right: $chat-menu-icon-right;
  bottom: 0;
  z-index: 10;
  height: 35px;
  width: 35px;
}

.close-chat-menu {
  right: -$chat-menu-animation-range;
}

.open-chat-menu {
  right: 0;
}

.chat-menu-transition-close {
  animation: 100ms slide_chat_menu_right ease-in-out;
  transition: opacity 0.3s ease;
  background-color: inherit;
}

.chat-menu-transition-open {
  animation: 100ms slide_chat_menu_left ease-in-out;
  transition: opacity 0.3s ease;
}

@keyframes slide_chat_menu_right {
  @for $i from 0 through 11 {
    $percentage: $i * 10;
    #{$percentage + '%'} {
      right: ($i * -0.5)vw;
    }
  }
}

@keyframes slide_chat_menu_left {
  @for $i from 0 through 11 {
    $percentage: $i * 10;
    #{$percentage + '%'} {
      right: ($chat-menu-animation-range - $i * 0.5)vw;
    }
  }
}

.notification-none {
	display:flex;
	background-color: inherit;
	border-radius: $chat-exit-button-radius;
}

.notification-some {
	display:flex;
	background-color: rgb(211, 18, 69);
	border-radius: $chat-exit-button-radius;
	width: 15%;
	height: 90%;
	justify-content: center;
}

.chat-item {
	display:flex;
	padding: 10px 0;
	justify-content: space-between;
	cursor: pointer;
	border-radius: 10px;
	transition: background-color 0.2s;
	flex-direction: left;
}
.chat-name-in-menu {
	display:flex;
	width: 50%;
  overflow: hidden ;
	justify-content: space-between;
	flex-direction: row;
	font-size: 12px;
}
.chat-participants{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.chat-item:hover {
  background-color: #e0e0e0;
}

.chat-item-active {
  background-color: #c0c0c0;
  font-weight: bold;
}
