// Auth
.auth-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 40px;
    height: 100%;
    width: 90%;
    max-width: 2500px;
    border: 2px solid white;
    border-radius: 25%;
    background-color: #131313;
}

.auth-card-block {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 40px;
    width: 40%;
    justify-content: center;
}

.auth-card {
    margin-right: 20px;
}

  
  