.dashboard-wrapper{
  margin: 40px;
  height: 88%;
  border: 2px solid white;
  border-radius: 25%;
  background-color: #131313;
  max-width: 2500px;
  width: 90%;
  align-items: center;
}

.canvas-wrapper{
  height: 100%;
  border-radius: 25%;
  display: flex;
  flex-direction: row;
}

.menu-bottom{
  position: fixed;
  display: flex;
  flex-direction: row;
  bottom: 5px;
  left: 0;
  padding-left: 5px;
  height: 2.5rem;
  width: auto;

  img{
    cursor: pointer;
    margin: 0 5px;
  }
}



