.dashboard-wrapper{
    display: flex;
    flex-direction: row;
    height: 83%;
    position:relative;
}

.form{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-div{
  width: 90%;
}

.canvas-wrapper{
  border-radius: 20px;
  margin: 10px;
  padding: 10px;
  width: 100%;
  height: 100%;
  position: relative;
}

.profile-card-wrapper{
  margin-right: 10px;
  padding-right: 10px;
  padding-left: 20px;
  background-color: #312f2f;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 20%;
  height: 110%;
  z-index: 1;
}


.profile-picture {
    width: 150px; /* Adjust the size as needed */
    height: 150px; /* Adjust the size as needed */
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: 10px;
  }
  
  .profile-picture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .form-picture{
    border-radius: 50%;
    overflow: hidden;
    border: 1px solid grey;
    position: relative ;
  }
  
  
#photo{
    height: 100%;
    width: 100%;
}

#file{
    display: none;
}

#uploadBtn{
    height: 40px;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    background: rgba(0, 0, 0, 0.7);
    color: wheat;
    line-height: 30px;
    font-family: sans-serif;
    font-size: 15px;
    cursor: pointer;
    
}

  .user-info h6 {
    margin: 5px;
    text-align: left;
  }
  
  .play-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 20%;
    height: 60px;
  }

  .menu-wrapper{
    margin-right: 10px;
    padding-right: 10px;
    padding-left: 20px;
    background-color: #312f2f;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-evenly;
    width: 20%;
    height: 110%;
}

.friends-card-wrapper {
    margin-right: 10px;
    padding-right: 10px;
    padding-left: 20px;
  background-color: #312f2f;
  width: 20%;
  height: 110%;
  overflow: hidden;
}

.friends-card-wrapper h2 {
  margin-bottom: 10px;
}

.friends-card-wrapper ul {
  list-style: none;
  padding: 0;
  margin: 0;
  overflow-y: auto;
  height: 100%;
}

.friends-card-wrapper li {
  background-color: #4d4848;
  border-radius: 10px;
  margin-bottom: 10px;
  padding: 10px;
}

.friends-card-wrapper h3,
.friends-card-wrapper p {
  margin: 5px 0;
}


.friend-picture {
  width: 50px; /* Adjust the size as needed */
  height: 50px; /* Adjust the size as needed */
  border-radius: 50%;
  overflow: hidden;
}

.friend-picture img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.friend-list{
  display: flex;
  flex-direction: column;
  overflow-y: scroll;

}

.friend-item{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  cursor: pointer;
}

.exit-button{
  height: 5%;
  width: auto;
  border-radius: 20px;
  position: absolute;
  top: 15px;
  cursor: pointer;
  left: 20px;
  z-index: 10;
}

.fullscreen-button{
  height: 5%;
  width: auto;
  position: absolute;
  top: 15px;
  cursor: pointer;
  left: 20px;
  z-index: 10;
  
}

.align-right{
  right: 20px;
  left:auto;
}

.history-card-wrapper {
  margin-right: 10px;
  padding-right: 10px;
  padding-left: 20px;
  background-color: #312f2f;
  height: 110%;
  width: 20%;
  overflow: hidden;
}

.history-card-wrapper h2 {
  margin-bottom: 10px;
}

.history-card-wrapper ul {
  list-style: none;
  padding: 0;
  margin: 0;
  overflow-y: auto;
  height: 100%;
}

.history-card-wrapper li {
  background-color: #4d4848;
  border-radius: 10px;
  margin-bottom: 10px;
  padding: 10px;
}

.history-card-wrapper h3,
.history-card-wrapper p {
  margin: 5px 0;
}


.friend-picture {
  width: 50px; /* Adjust the size as needed */
  height: 50px; /* Adjust the size as needed */
  border-radius: 50%;
  overflow: hidden;
}

.friend-picture img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.friend-list{
  display: flex;
  flex-direction: column;
}

.friend-item{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.menu-icon{
  position: absolute;
  cursor: pointer;
  left: 18vw;
}

.close-menu{
  left: -14.5vw;
}

.open-menu{
  left: 0vw;
}


.menu-transition-close{
  animation: 100ms slide_menu_left ease-in-out;
  transition: opacity .3s ease;
}

.menu-transition-open{
  animation: 100ms slide_menu_right ease-in-out;
  transition: opacity .3s ease;
}

/* Slide menu left animation */
@keyframes slide_menu_left {
  0% {
    left: 0vw;
  }

  10% {
    left: -0.5vw;
  }

  20% {
    left: -1vw;
  }

  30% {
    left: -1.5vw;
  }

  40% {
    left: -2vw;
  }

  50% {
    left: -2.5vw;
  }

  60% {
    left: -3vw;
  }

  70% {
    left: -3.5vw;
  }

  80% {
    left: -4vw;
  }

  90% {
    left: -4.5vw;
  }

  100% {
    left: -5vw;
  }
}

/* Slide menu right animation */
@keyframes slide_menu_right {
  0% {
    left: -5vw;
  }

  10% {
    left: -4.5vw;
  }

  20% {
    left: -4vw;
  }

  30% {
    left: -3.5vw;
  }

  40% {
    left: -3vw;
  }

  50% {
    left: -2.5vw;
  }

  60% {
    left: -2vw;
  }

  70% {
    left: -1.5vw;
  }

  80% {
    left: -1vw;
  }

  90% {
    left: -0.5vw;
  }

  100% {
    left: 0vw;
  }
}
