.dashboard-wrapper{
  margin: 80px 60px 0px 60px;
  height: 100%;
  //border: 2px solid white;
  //border-radius: 25%;
  background-color: #1F1F1F;
  max-width: 1500px;
  width: 60vw;
  align-items: center;
  overflow-x:scroll ;
}

.canvas-wrapper{
  height: 100%;
  //border-radius: 25%;
  display: flex;
  flex-direction: row;

}

.menu-bottom{
  position: fixed;
  display: flex;
  flex-direction: row;
  bottom: 5px;
  left: 0;
  padding-left: 5px;
  height: 2.5rem;
  width: auto;

}

.menu-middle{
  display: flex;
  flex-direction: row;
  width: auto;
}


