.menu-wrapper{
    margin-right: 10px;
    padding-right: 10px;
    padding-left: 20px;
    background-color: #312f2f;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-evenly;
    width: 20%;
    height: 110%;
}
