// Variables
$primary-color: #312f2f;
$secondary-color: #646cffaa;
$react-color: #61dafbaa;

// Navbar
.navbar {
  height: 9vh;
  min-height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  top: 0;
  left: 0;
  right: 0;
  background-color: #242526;
  padding: 0 20px;
  position: fixed;
  z-index: 5;
  border-bottom: 1px solid #2F3031;
}

// Elem Wrapper
.nav-elem-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
}

// Navbar Brand
.navbar-brand {
  font-size: 1.2rem;
  font-weight: bold;
  text-decoration: none;
  color: white;
  margin-left: 10px;
}

// Navbar items
.nav-item {
  padding: 0.6em 0.6em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
}

.nav-link {
  text-decoration: none;
  color: white;
}

// Logo Nav
.logo-nav {
  height: 3em;
  will-change: filter;
  transition: filter 300ms;

  &:hover {
    filter: drop-shadow(0 0 2em $secondary-color);
  }

  &.react:hover {
    filter: drop-shadow(0 0 2em $react-color);
  }
}

.menu-toggle{
  display: block;
  width: 80px;
}

.open-menu{
  display: block;
}

.close-menu{
  display: none;
}


@media (min-width: 890px){
  .menu-middle{
    display: block;
  }

  .menu-toggle{
    display: none;
  }
}

@media (max-width: 890px) {
  .menu-middle{
    flex-direction: column;
    right: 0;
    top: 80px;
    z-index: 200;
    background-color: #242526;
    position: fixed;
    padding: 8px;
    border-left: 1px solid white;
    border-bottom: 1px solid white;

    border-radius: 0 0 15px 15px;
  }

  .menu-toggle {
    display: block; /* Show the toggle button */
  }


}